.unwantedGroup {
  border: 2px solid #DF013A;
}
.error {
  color: red;	
}

.aRight{
    text-align: right;
}

.aCenter{
    text-align: center;
}

.mLineItem{
    margin: 5px 5px;
}

#main {
    margin: 10 auto;
}
#sidebar    {
    float: left;
    margin-right: 10px;
}

.groupContainer{
    border: 1px solid;
    margin: 1px 25px 0px 25px;
}
