<!doctype html>
<html ng-app="mainApp" >

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
  <script type="text/javascript" src="main_app.js"></script>
  <script type="text/javascript" src="controllers/frequency_capping.js"></script>
  <script type="text/javascript" src="directives/number_validation.js"></script>
  <script type="text/javascript" src="directives/custom_form_interpol.js"></script>
  <script type="text/javascript" src="directives/share_sum_validation.js"></script>
  <script type="text/javascript" src="directives/custom_form_submit.js"></script>
  <script type="text/javascript" src="directives/custom_click.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/frequency_capping.css">

</head>

<body ng-controller="FrequencyCappingController">

  <h4>Frequency Capping Per Visitor</h4>



      <form name="form"  valid-submit="submitForm()" novalidate>

          <div ng-show="io.frequency_groups.length!=0">

                Applies for all line items ? <input type="checkbox" ng-model="allCheck" ng-change="allCheckCondition()"  /><br/>

                <div ng-repeat="frequency_group in io.frequency_groups"  class="groupContainer">

                    <div ng-class="{unwantedGroup: form.$submitted && isAllLineItemsSelected() && isLineItemEmpty($index)}" class="innerGroup" >

                        <ng-form interpol-ng-form="nestedForm{{$index}}">

                            <fieldset>
                              <div class="aRight">
                                <a href="#" confirmed-click="removeItem($index)" ng-confirm-click="Are you sure want to delete this capping group">x</a>
                              </div>

                              <div id="t_{{$index}}" ng-include src="'template.html'" ></div>

                            </fieldset>

                        </ng-form>

                    </div>


                </div>

          </div>

          <div ng-hide="io.frequency_groups.length!=0" class="aCenter">
              <b>No Frequency Capping set</b>
          </div>

        <div style="text-align: center">
        <button  type="button" class="btn " ng-click="addItem()">Add</button>

        <button type="submit"  class="btn btn-primary btn-sm"  >Save</button>
        </div>
      </form>



</body>

</html>
