<div>

  <span ng-class="{'error': hasError(form, $index, 'view_count')}" >View Count : </span>
  <input type="number" name="view_count" ng-model="frequency_group.view_count" required min=1 ng-pattern="/^\d+$/" />{{view_count}}

  <br></br>

  <span ng-class="{'error': hasError(form, $index, 'days')}" >Days : </span>
  <input type="number" name="days"  ng-model="frequency_group.days" ng-pattern="/^\d+$/" share-sum-validate="{min_count:1, fields:['days', 'hours', 'minutes'], form_index: $index}"  />


  <span ng-class="{'error': hasError(form, $index, 'hours')}" >Hours :</span>
  <input type="number" name="hours"  ng-model="frequency_group.hours" max="23" ng-pattern="/^\d+$/" share-sum-validate="{min_count:1, fields:['days', 'hours', 'minutes'], form_index: $index}" />


  <span ng-class="{'error': hasError(form, $index, 'minutes')}" >Minutes :</span>
  <input type="number" name="minutes"  ng-model="frequency_group.minutes" max="59" ng-pattern="/^\d+$/" share-sum-validate="{min_count:1, fields:['days', 'hours', 'minutes'], form_index: $index}" />

</div>

<div id="main">
    <div id="sidebar">
        <span  ng-class="{'error': hasError(form, $index, 'line_items')}" >
          Line Items :
        </span>
    </div>
    <div class="form-group">

      <span ng-repeat="i_item in io.line_items">
        <input type="checkbox" name="line_items"  ng-model="i_items" class="li li_{{$index}}" ng-disabled="isDisabled($parent.$index, i_item.id)" ng-click="modifyLineItem($event, $parent.$index, i_item.id)" ng-checked="isPresenceOf(frequency_group, i_item.id)" ng-required="frequency_group.line_items.length==0" />
        <span tooltip="{{i_item.text}}" tooltip-placement="bottom"> Line Item {{ i_item.id }} </span>
      </span>
    </div>
</div>

